.container {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 96px;

    @media (min-width: 600px) {
        margin-top: 52px;
        padding-bottom: 56px;
    }
    @media (min-width: 840px) {
        margin-top: 88px;
        padding-bottom: 52px;
    }
}

.title {
    color: var(--black-22293-c, #22293C);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
    @media (min-width: 600px) {
        font-size: 24px;
    }
}

.colored {
    margin-right: 6px;

    color: var(--primary-2141-e-5, #2141E5);
    font-weight: 700;

    @media (min-width: 600px) {
        margin-right: 8px;
        font-size: 24px;
    }
}

.suggestion-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(152px, 152px));
    grid-template-rows: auto;
    grid-gap: 16px;

    width: 100%;
    margin-top: 24px;

    align-items: flex-start;
    justify-content: center;

        
    @media (min-width: 600px) {
        margin-top: 32px;
        grid-template-columns: repeat(3, minmax(176px, 176px));
        grid-gap: 16px;
    }

    @media (min-width: 840px) {
        margin-top: 52px;
        grid-template-columns: repeat(auto-fit, minmax(182px, 182px));
        grid-gap: 20px;
    }
}

.suggestion-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
    @media (min-width: 840px) {
        gap: 24px;
    }
}

.card-image {
    width: 152px;
    height: 152px;
    border-radius: 10px;
    border: 0.6px solid var(--gray-40-c-7-cee-3, #C7CEE3);
            
    @media (min-width: 600px) {
        width: 182px;
        height: 182px;
        border: 0px;
    }

    @media (min-width: 840px) {
        gap: 24px;
    }
}


.suggestion-title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 8px;

    @media (min-width: 840px) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
    }
}

.suggestion-title {
    color: var(--gray-9039425-a, #39425A);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
    @media (min-width: 840px) {
        font-size: 18px;
    }
}

.suggestion-publisher {
    color: var(--gray-609-ba-4-bf, #A2ABC7);
    text-align: right;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 13px */
    @media (min-width: 840px) {
        font-size: 14px;
    }
}

.suggestion-introduction {
    height: 100px;

    color: var(--gray-80565-d-71, #565D71);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */

    @media (min-width: 600px) {
        height: 96px;
    }
    @media (min-width: 840px) {
        font-size: 16px;
        line-height: 150%;
    }
}
