.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-top: 44px;

    @media (max-width: 840px) {
        padding-top: 20px;
    }
    @media (max-width: 600px) {
        padding: 0px 20px;
        padding-bottom: 96px;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #22293C;
    @media (max-width: 600px) {
        font-size: 18px;
    }
}

.colored {
    color: #2141E5;
    margin-right: 8px;
}

.suggestion-box {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(182px, 182px));
    grid-template-rows: auto;
    grid-gap: 20px;

    align-items: flex-start;
    justify-content: center;
    margin-top: 52px;

    @media (max-width: 840px) {
        grid-template-columns: repeat(3, minmax(176px, 176px));
        margin-top: 32px;
        grid-gap: 16px;
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(2, minmax(152px, 152px));
        margin-top: 24px;
        grid-gap: 16px;
    }
}

.suggestion-card {
    display: flex;
    flex-direction: column;
    width: 182px;
    gap: 24px;
    margin-bottom: 32px;   
    @media (max-width: 600px) {
        width: 152px;
        gap: 16px;   
    }
}

.suggestion-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.suggestion-title {
    font-size: 18px;
    font-weight: 600;
    color: #39425A;
    @media (max-width: 600px) {
        font-size: 15px;
    }
}

.suggestion-publisher {
    font-size: 14px;
    font-weight: 500;
    color: #A2ABC7;
    margin-left: 4px;
    @media (max-width: 600px) {
        font-size: 13px;
        margin-top: 6px;
        margin-left: 0px;
    }
}

.suggestion-introduction {
    height: 88px;
    font-weight: 400;
    font-size: 15px;
    color: #565D71;

    margin-top: 8px;

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.card-image {
    width: 182px;
    height: 182px;
    object-fit: contain;
    border-radius: 10px;
    border: 0.6px solid #C7CEE3;
    @media (max-width: 600px) {
        width: 152px;
        height: 152px;
        object-fit: cover;
    }
}

