:root {
    --primary: #2141E5;
    --white: #FFFFFF;

    /** 텍스트 컬러 */
    --text_black: #22293C;
    --text_gray90: #39425A;
    --text_gray80: #565D71;
    --text_gray70: #7C839A;
    --text_gray60: #9BA4BF;
    --text_gray50: #B3BBD3;
    --text_gray40: #C7CEE3;
    --text_gray30: #DFE4F5;
    --text_gray20: #F0F3FD;
    --text_gray10: #F9FAFF;


    font-family: 'Pretendard';
}

*,
*:before,
*:after {
    box-sizing: border-box;
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    background: url("/left1.svg") no-repeat;
    background-size: 38px, 38px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,30px) !important;
    /* right: auto; */
    width: 38px !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next:hover {
    left: var(--swiper-navigation-sides-offset,30px) !important;
    /* right: auto; */
    width: 38px !important;
}



.swiper-button-next {
    background: url("/right1.svg") no-repeat;
    background-size: 38px, 38px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right:var(--swiper-navigation-sides-offset,30px) !important;
    /* left: auto; */
    width: 38px !important;
}
