.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 600px) {
        padding: 44px 20px;
    }

    @media (min-width: 840px) {
        padding: 44px 40px;
    }
}

.divider {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #DFE4F5;

    @media (min-width: 600px) {
        width: 100%;
    }
}